<html lang="en">
    <%- include('./partial/header.ejs') %>
    <body>

        <%- include('./partial/nav.ejs') %>

        <div class="not-found content">
            Page Not Found       
        </div>
        <%- include('./partial/footer.ejs') %>
    </body>
</html>