<html lang="en">
    <%- include('./partial/header.ejs') %>
    <body>
        <%- include('./partial/nav.ejs') %>

        <div class="about content" style="text-align: center;">
            <h1>Welcome to Techs Site</h1>
            <p>Just a little bit of everything. From Arduinos to Windows. The latest and greatest in tech and diy.</p>
        </div>
            

        
        <%- include('./partial/footer.ejs') %>
        
    </body>
</html>