<html lang="en">
    <%- include('./partial/header.ejs') %>
    <body>
        <%- include('./partial/nav.ejs') %>

        <div class="about content" style="text-align: center;">
            <h1>Welcome to Techs Blogs</h1>
            <p>A site about me</p>
        </div>
            

        
        <%- include('./partial/footer.ejs') %>
        
    </body>
</html>