<head>
    <meta 
        name="description"
        content="Tech aka Dillon is a self taught developer, everything form web site and web apps to mobile games."
        charset="UTF-8"
        name="viewport" content="width=device-width, initial-scale=1.0"
        name="robot" contect="index,follow">
    <title>Techs Blog | <%= title %> </title>
    <link rel="stylesheet" href="/styles.css">
</head>