<nav>
    <div class="site-title">
        <a href="/"><h1>Techs Blog</h1></a>       
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Blogs">Blogs</a></li>
        <li><a href="/About">About</a></li>        
    </ul>
</nav>